/*CSS for getquote.html*/

/* Style the links inside the navigation bar 
Button and nav anchor color was not the same as the other pages (I don't know why) 
so had to add .btn and .btn-primary styles here to correct*/

.btn-primary {
	color: white;
	background-color: #096EB6;
	text-decoration: none;
}

.btn  {
	color: white;
	background-color: #096EB6;	
	text-decoration: none;

	text-justify: center;
	display:inline-block;
/* tried things below to make "See details" anchors look better:; */
/*	width: content;
	text-align: center;
	display: inline-flex; 
	display:inline-block; 
	text-justify: center;
	display:inline-block;
	text-justify: center;
	margin: 0 auto;
	text-justify: left;
	justify-content: center;
	*/



}

/* Change the color of links on hover */
a:hover {
	color: white;
	background-color: #4DB748;
	text-decoration: none;
}


a.details {
	display: flex; 
	text-indent: 0px;
	text-justify: center;
	width: 120px;
	justify-content: center;
	
}


.btn:hover {
	color: white;
    background-color: #4DB748;
	text-decoration: none;
}

.center {
	align-self: center;
	text-align: center;
}

label {
	color: #096EB6;
	font-weight: bold;
}

th.quote {
	color: #096EB6;
	text-align: center;
	column-width: 270px;
   
}

td.quote {
	text-align: center;
	column-width: 170px;

}

td.quote_label{
	column-width: 270px;
}

th.profit {
	color: #096EB6;
	text-align: center;
	column-width: 250px;
	text-indent: 0px;


}

td.profit {
	text-align: center;
	column-width: 270px;
	
}
th.details {
	color: #096EB6;
	text-align: center;
	column-width: 170px;

}

td {
	text-align: left;
	text-indent: 55px;
	/* column-width: 270px; */
}

/* Have to override h2 style because title is picking up styling from bootstrapcdn so
it look different from the titles on the other pages. */
h2 {
    font-size: 30px;
    color: #096EB6;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

h4 {
	color: #096EB6;
	text-align: center;
}

h6 {
	color: #096EB6;
	font-weight: bold;
}

caption {
	color: #096EB6;
	font-weight: bold;
	text-align: center;

}

#profitLossTable {
  display: grid;
  grid-auto-columns:auto;  
  color: #096EB6;
  text-align: center;
}

#quoteInputTable {
  display: grid;
  grid-auto-columns:auto;
  color: #096EB6;
  text-align: left;

}

#step_one_input {
	display: flex;
	flex-direction: column;

}






 