/*CSS for index.html*/

/* Style the links inside the navigation bar */



/* Change the color of links on hover */

a:hover {
	color: white;
    background-color: #4DB748;
	text-decoration: none;
}

.btn:hover {
	color: white;
    background-color: #4DB748;
	text-decoration: none;
}

.center {	
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

h2 {
	color: #096EB6;
	text-align: center;
}

h3 {
	color: #096EB6;
	font-weight: bold;

}

sup {
	font-size: 9px;
}

sup.question_mark {
	font-weight: bold;
	font-size: 14px;
}

footer {
 	color: #096EB6;
 	text-align: center;
 }

